<nav class="bg-white shadow-md py-4">
    <div class="container mx-auto flex justify-between items-center px-6">
        <a href="/" class="h-12">
            <img src="/assets/images/istar-logo.png" alt="iSTAR Lab Logo" class="h-full w-auto">
        </a>
        <div>
            <a href="/research" class="px-4 text-gray-700 hover:text-blue-500">Research</a>
            <a href="/projects" class="px-4 text-gray-700 hover:text-blue-500">Projects</a>
            <a href="/publications" class="px-4 text-gray-700 hover:text-blue-500">Publications</a>
            <a href="/people" class="px-4 text-gray-700 hover:text-blue-500">People</a>
            <a href="/news" class="px-4 text-gray-700 hover:text-blue-500">News</a>
            
        </div>
    </div>
</nav>