<nav class="bg-white shadow-md py-4">
    <div class="container mx-auto flex justify-between items-center px-6">
        <a href="/" class="h-12">
            <img src="{{ site.baseurl }}/assets/images/istar-logo.png" alt="iSTAR Lab Logo" class="h-full w-auto">

        </a>
        <div>
            <a href="{{ site.baseurl }}/research" class="px-4 text-gray-700 hover:text-blue-500">Research</a>
            <a href="{{ site.baseurl }}/projects" class="px-4 text-gray-700 hover:text-blue-500">Projects</a>
            <a href="{{ site.baseurl }}/publications" class="px-4 text-gray-700 hover:text-blue-500">Publications</a>
            <a href="{{ site.baseurl }}/people" class="px-4 text-gray-700 hover:text-blue-500">People</a>
            <a href="{{ site.baseurl }}/news" class="px-4 text-gray-700 hover:text-blue-500">News</a>
            
            
        </div>
    </div>
</nav>